.input-container {
  display: flex;
  padding: 8px 15px;
  border: 1px solid white;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.input-container:is(:hover, :focus) {
  opacity: 0.7;
  cursor: pointer;
}

.grid-span-2 {
  grid-column: span 2;
}

.red {
  background-color: #f44336;
}

.gray {
  background-color: aquamarine;
}
